<Router AppAssembly="typeof(Program).Assembly">
    <Found>
        <NavBar />
        <RouteView RouteData="@context"></RouteView>
    </Found>
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">No matching route found</h4>
    </NotFound>
</Router>